
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#maincontainer{
  margin-top: 10px;
}

#homePageJumbotron{
  background-color:rgb(233, 233, 233);
  margin-top: 10px;
}

#EachPost{
  margin-top: 10px;
}

#postmedia{
  margin-top: 20px;
}

