
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#maincontainer{
  margin-top: 10px;
}

#homePageJumbotron{
  background-color:rgb(194, 194, 194);
  margin-top: 10px;
}

#EachPost{
  margin-top: 10px;
}

#postmedia{
  background-color: rgb(240, 240, 240);
  margin-top: 20px;
}

